body {
  background-color: white;
}
#Borlaugs_quote{
  font-size: 20px;
  font-weight: 100;
  margin-left:200px;
  margin-right:200px;
}
ul{
  margin-left:200px;
  margin-right:200px;
}
p{
  font-weight: 100;
  color: gray;
  font-size: 15px;
}
img{
  margin-left:200px;
  margin-right:200px;
}
